.container {
  overflow: hidden;
  background: black;
}

.main {
  min-height: -webkit-fill-available;
  /* height: 100%; */
  height: calc(75 * var(--vh));
}

.home_first {
  display: flex;
  height: calc(80 * var(--vh));
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10vw;
  margin-top: calc(10 * var(--vh));
}

.my_image {
  position: relative;
  width: 33vw;
  max-width: 28rem;
  height: 90%;
}

.my_image > img:after {
  content: ' ';
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 50%;
}

.home_content {
  display: flex;
  flex-direction: column;
}

.domains {
  display: flex;
  flex: 1;
  color: rgb(255, 255, 255);
  font-size: 6vw;
  font-weight: bold;
  white-space: pre-line;
}

.colorful {
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color1 {
  background-image: var(--grad1);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: calc(15.5 * var(--vh));
  margin-top: 15.5vh;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-aspect-ratio: 4/5) {
  .home_first {
    padding-inline: 0;
    justify-content: center;
    height: calc(80 * var(--vh));
  }

  .my_image {
    width: 70vw;
    height: 60%;
    min-width: 15rem;
  }

  .home_content {
    align-items: center;
  }

  .domains {
    font-size: 10vw;
  }

  .home_content {
    /* text-transform: uppercase; */
  }
}
