.snapContainer {
  background-color: black;
  height: calc(100 * var(--vh));
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: calc(100 * var(--vh));
  padding-top: calc(10 * var(--vh));
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionHead {
  /* color: aliceblue; */
  position: sticky;
  top: 15vh;
  text-align: center;
  margin-bottom: 0%;
  text-transform: uppercase;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  padding-inline: 10%;
}

.projectCard {
  background-color: rgb(7, 7, 7);
  color: white;
  width: 25vw;
  border-radius: 15px;
  overflow: hidden;
  overflow-y: scroll;
  transition: all 0.4s ease;
  margin-right: 3%;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.401);
  font-family: 'Poppins', sans-serif;
  /* cursor: pointer; */
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 50px 5px rgba(144, 79, 255, 0.333);
  animation: rotateShadow 5s 0.4s ease-out infinite;
}

.activeCard > .cardImage {
  height: 10rem;
  transform: scaleX(1.2) scaleY(1.5);
}

@keyframes rotateShadow {
  0%,
  55%,
  98% {
    box-shadow: 0px 5px 50px 5px rgba(144, 79, 255, 0.4);
  }
  22%,
  78% {
    box-shadow: 0px -5px 50px 6px rgba(255, 79, 161, 0.6);
  }
  15%,
  60% {
    box-shadow: 5px 0px 50px 2px rgba(255, 234, 79, 0.5);
  }
  37%,
  88% {
    box-shadow: -5px 0px 50px 0px rgba(79, 255, 176, 0.7);
  }
}

.cardContent {
  padding-inline: 8%;
}

.cardImage {
  position: relative;
  height: 0px;
  width: 100%;
  transition: all 0.4s ease;
  mask-image: linear-gradient(black 85%, transparent 99%);
}

.cardDescp {
  height: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.neonText {
  color: #d2d1d1;
  animation: turnOn 0.7s ease-in 1s forwards;
}

@keyframes turnOn {
  0% {
  }
  100% {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #00fbff,
      0 0 82px #00fbff, 0 0 92px #00fbff, 0 0 102px #00fbff, 0 0 151px #00fbff;
  }
}

@media (max-width: 767px) {
  .content {
    flex-wrap: wrap;
    height: 80%;
    margin-top: 10%;
  }
  .projectCard {
    width: 80vw;
    margin-block: 0vh;
    cursor: auto;
    background-color: rgb(24, 24, 24);
    max-height: 30%;
    overflow: hidden;
  }
  .projectCard:active,
  .projectCard:focus,
  .activeCard {
    height: 30%;
    transform: scale(1.1);
    overflow: auto;
  }

  .sectionHead {
    top: calc(12 * var(--vh));
  }

  .cardTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .projectCard.activeCard > .cardTitle {
    margin-top: 20rem;
  }
}
