.snapContainer {
  background-color: black;
  height: calc(100 * var(--vh));
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  min-height: calc(100 * var(--vh));
  padding-top: calc(10 * var(--vh));
  scroll-snap-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionHead {
  position: sticky;
  top: 15vh;
  text-align: center;
  margin-bottom: 0%;
  text-transform: uppercase;
  z-index: 0;
  font-size: 6vw;
  color: #d2d1d1;
  font-family: 'Poppins', sans-serif;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  padding-inline: 10%;
}

.projectCard {
  background-color: rgb(7, 7, 7);
  width: 35vw;
  border-radius: 15px;
  overflow: hidden;
  margin: 1%;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  font-size: 1.1rem;
  border: none;
}

.projectCard:hover,
.projectCard:focus {
  color: white;
  transform: translateY(-5px);
  box-shadow: 0px 5px 50px 5px rgba(144, 79, 255, 0.3);
  animation: rotateShadow 5s 0.7s ease-out infinite;
  z-index: 2;
  transform: scale(1.1);
}

.projectCard:hover > .expand,
.projectCard:focus > .expand {
  display: block;
}

.activeCard:hover > .expand,
.activeCard:focus > .expand {
  display: block;
  transform: rotate(-180deg);
  top: 80%;
}

.activeCard {
  z-index: 3;
}

.activeCard > .cardImage {
  height: calc(40 * var(--vh));
  transform: scale(1.35);
}

@keyframes rotateShadow {
  0%,
  55%,
  98% {
    box-shadow: 0px 5px 50px 5px rgba(144, 79, 255, 0.3);
  }
  22%,
  78% {
    box-shadow: 0px -5px 50px 6px rgba(255, 79, 161, 0.6);
  }
  15%,
  60% {
    box-shadow: 5px 0px 50px 2px rgba(255, 234, 79, 0.5);
  }
  37%,
  88% {
    box-shadow: -5px 0px 50px 0px rgba(79, 255, 176, 0.7);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardImage {
  position: relative;
  height: 0px;
  width: 100%;
  transition: all 0.4s ease;
  mask-image: linear-gradient(black 85%, transparent 99%);
}

.cardTitle,
.cardDescp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.cardDescp {
  margin-top: -5%;
}

.cardLinks {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20%;
  padding-bottom: 1em;
}

.cardLink {
  position: relative;
  height: 2vw;
  width: 2vw;
  margin-inline: 10%;
  transition: all 0.2s ease-out;
}

.cardLink:hover,
.cardLink:focus {
  transform: scale(1.1);
}

.expand {
  display: none;
  position: absolute;
  top: 65%;
  right: 5%;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
}

.neonText {
  animation: turnOn 1s ease-in 0.5s forwards;
}

@keyframes turnOn {
  0% {
  }
  100% {
    color: #fff;
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00fbff,
      0 0 50px #00fbff, 0 0 70px #00fbff, 0 0 80px #00fbff, 0 0 120px #00fbff;
  }
}

@media (max-aspect-ratio: 4/5) {
  .snapContainer {
    scroll-snap-type: none;
    padding-top: calc(15 * var(--vh));
  }

  .section {
    scroll-snap-align: center;
    padding-top: 0;
  }

  .content {
    flex-wrap: wrap;
    height: 78%;
    margin-top: 15%;
  }

  .sectionHead {
    top: 0vh;
    font-size: 10vw;
    padding-inline: 10%;
    line-height: 160%;
  }

  .neonText {
    color: #d2d1d1;
    animation: turnOn 0s ease-in forwards;
  }

  .projectCard {
    width: 80vw;
    cursor: auto;
    margin-top: 5vw;
    background-color: rgb(24, 24, 24);
    height: 50vw;
    overflow: hidden;
    font-size: 4.5vw;
  }

  .projectCard:active,
  .projectCard:focus {
    transform: scale(1.1);
    overflow: auto;
  }

  .activeCard > .cardImage {
    height: calc(23 * var(--vh));
  }

  .projectCard:hover > .expand {
    display: block;
    margin-top: -2%;
  }

  .activeCard > .expand {
    margin-top: -5%;
  }

  .cardLink {
    height: 10vw;
    width: 10vw;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
